@model ToDo.WebUI.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="row">
    <section class="col-md-8 col-md-offset-2">
        @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
        {
            <section class="form-group">
                @Html.LabelFor(m => m.Username, new { @class = "col-sm-4 control-label" })
                <section class="col-sm-8">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                </section>
                <section class="col-sm-offset-4 col-sm-8">
                    @Html.ValidationMessageFor(m => m.Username, null, new { @class = "label label-danger" })
                </section>
            </section>

            <section class="form-group">
                @Html.LabelFor(m => m.Mail, new { @class = "col-sm-4 control-label" })
                <section class="col-sm-8">
                    @Html.TextBoxFor(m => m.Mail, new { @class = "form-control" })
                </section>
                <section class="col-sm-offset-4 col-sm-8">
                    @Html.ValidationMessageFor(m => m.Mail, null, new { @class = "label label-danger" })
                </section>

            </section>

            <section class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-sm-4 control-label" })
                <section class="col-sm-8">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password" })
                </section>
                <section class="col-sm-offset-4 col-sm-8">
                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "label label-danger" })
                    @Html.ValidationMessageFor(m => m, null, new { @class = "label label-danger" })
                </section>
            </section>

            <section class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-4 control-label " })
                <section class="col-sm-8">
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", type = "password" })
                </section>
                <section class="col-sm-offset-4 col-sm-8">
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "label label-danger" })
                </section>
            </section>

            <section class="form-group">
                <section class="col-sm-offset-4 col-sm-8">
                    <button type="submit" value="Register" class="btn btn-default">Register</button>
                </section>

            </section>


        }
    </section>
</section>
